<link rel="stylesheet" href="../static/styles.css" type="text/css" />
<meta charset="utf-8">
<ul class="answers">
    {% for answer in answers %}
        <li class="answer">
            <div class="picd">
                <img class="img-rounded picd" src="{{ url_for('static', filename='da.png') }}">
            </div>
            <div class="answer-content">
{#            就是没有那个问题的显示#}
{#                <div><a href="{{ url_for('.question', id = answer.question.id) }}">{{ answer.question.body }}</a></div>#}
                <div class="answer-date">{{ moment(answer.timestamp).fromNow() }}</div>
                <div class="answer-author"><a href="{{ url_for('.user', username=answer.author.username) }}">{{ answer.author.username }}</a></div>
                <div class="answer-body">
                    {% if answer.disabled %}
                        <p><i>这个回答已被屏蔽</i></p>
                    {% endif %}
                    {% if moderate or not answer.disabled %}
                        {% if answer.body_html %}
                            {{ answer.body_html | safe }}
                        {% else %}
                            {{ answer.body }}
                        {% endif %}
                    {% endif %}

                </div>
                {% if moderate %}
                    <br>
                    {% if answer.disabled %}
                        <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=answer.id, page=page) }}">Enable</a>
                    {% else %}
                        <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable', id=answer.id, page=page) }}">Disable</a>
                    {% endif %}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
