<meta charset="utf-8">
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
<link rel="stylesheet" href="../static/styles.css" type="text/css" />

{% block title %}Wenda - 主页{% endblock %}


{% block page_content %}


    <div class="page-header">

        <h1>Hello,{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>

    </div>
    <div>
        {% if current_user.can(Permission.ASK) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>

    <div class="post-tabs">
        <ul class="nav nav-tabs">
            <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">全部回答</a></li>
            {% if current_user.is_authenticated %}
                <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注用户回答</a></li>
            {% endif %}
        </ul>
    <br>
    <br>
        {% include '_answers.html' %}


    </div>

    {% if pagination %}
        <div class="pagination_box">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}


{% endblock %}
<div>
    {% block scripts %}
        {{ super() }}
        {{ pagedown.include_pagedown() }}
        </div>
    {% endblock %}